@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@400;500;600;700&display=swap');




:root {
    --font1: Bebas Neue;
    --font2: Oswald; 
    --font3: Noto Sans; 
    --clr1: #017665;
    --clr2: rgb(241, 176, 55);
    --clr3: #fff;
    --clr4: #000;
    --sidebar-width: 250px;
    transition: --sidebar-width 1s linear;
    transition: --clr3 0.3s ease;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

